<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link al CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <title>MyBlog - Editar</title>
</head>

<body>
    <%- include('header') %>
    <hr>
    <section class="edit-post">

        <h2 class="edit-post-titulo">Editar publicación</h2>
        <div class="form-container">
            <form action="/edit-post/<%= postId %>" method="POST" class="form">
                <label for="titulo" class="titulo-form">Título:</label>
                <input type="text" name="titulo" required placeholder="Edite su título..." class="input-form">
                <label for="contenido" class="titulo-form">Contenido:</label>
                <input type="textarea" name="contenido" required
                    placeholder="Edite su publicación..." class="input-form-textarea">
                <button class="btn">Editar</button>
            </form>
        </div>
    </section>
</body>

</html>