<header>
    <div class="session">
        <img src="/public/perfil-01.png" alt="">
        <h2>Hola, Usuario.</h2>
    </div>
    <a href="/">
        <div class="logo">
            <h1>My Blog</h1>
        </div>
    </a>
    <div class="header-right">
        <div class="btn-add"><a href="/add-post">Crear Publicación</a></div>
    </div>
</header>